
{% extends 'base.html' %}

{% block rel %}
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <!-- bootstrap CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}


{% block title %}
    Home
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand h1" href="#">Waste Hunter</a>
            <ul class="nav nav-pills ">
                <li class="nav-item ">
                    <!-- link this to the Login page  -->
                    <a href="#" class="nav-link active bg-success">Login</a>
                </li>
            </ul>
        </div>
        
      </nav>
    <div class="container">
        <section class="get-started">
            <h1 class="h1"> Theres a better way to <br/> keep our community clean</h1>

            <!-- link this button to the Login/Signup page  -->
            <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-success">Get Started</button></a>
            <a href="{{ url_for('auth.signup') }}"><button type="button" class="btn btn-success">Login</button></a>
        </section>

        <!-- second section of landing page  -->
        <section class="description-wrapper bg-white">
            <ul class="description">
                <li class="h6">Plastic Waste Collection</li>
                <li class="h6">Request to Pickup</li>
                <li class="h6">Report illegal refuse dumps</li>
            </ul>     
        </section>

        <!-- the footer section  -->
        <footer class="footer">
            <div>
                <p class="h3">We can all work together to eradicate <br/> waste littering</p>
            </div>
            <div>
                <a href="#"><button type="button" class="btn btn-success .nav-fill">Create Account</button></a>
            </div>

        </footer>

        

    </div>

    <!-- Bootstrap JsDeliver CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

{% endblock %}