
{% extends 'waste_hunter/base_waste_hunter.html' %}

{% block rel %}

<title>Dashboard</title>

{% endblock %}


{% block body %}
<body>
  <div>
      <nav class="navbar pt-3 container">
        <h5 class="fw-normal h5 navbar-brand">Welcome, <span class="profileName">{{ g.user.first_name }}</span></h5>
        <div>
          <ul class="nav nav-pills ">
            <li class="nav-item ">
              <a class="nav-link text-dark" href="{{ url_for('report') }}">Report Dump </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('auth.logout') }}" class="nav-link active bg-success">Logout</a>
            </li>
          </ul>
        </div>
        
      </nav>

      <!-- the request page will serve as the dashboard for the user, since it is already linked to login button  -->

      <div class="requestFrm">
          <form method="post" class="form">
              <h1 class="title fw-bold">Request Pick-up</h1>
  
              <div class="inputContainer">
                  <label for="name" class="label">Name</label>
                  <input type="text" class="input" name="name" value="{{ g.user.first_name }}" required>
              </div>
  
              <div class="inputContainer">
                  <label for="pickup_location" class="label">Pick-up Location</label>
                  <input type="text" class="input" name="pickup_location" required>
              </div>
  
              <div class="inputContainer">
                  <label for="waste_description" class="label">Description of material</label>
                  <input type="text" class="input" name="waste_description" required>
              </div>
  
              <input type="submit" class="submitBtn bg-success" value="Request Pick-up">
          </form>
      </div>
  </div>
  
</body>
{% endblock %}