
{% extends 'waste_hunter/base_waste_hunter.html' %}

{% block rel %}
<title>Report Illegal Dump</title>
{% endblock %}


{% block body %}
    <body>

        <nav class="navbar pt-3 container">
          <h5 class="fw-normal h5 navbar-brand">Welcome, <span class="profileName">{{ g.user.first_name }}</span></h5>
          <div>
            <ul class="nav nav-pills ">
              <li class="nav-item ">
                <a class="nav-link text-dark" href="{{ url_for('hello') }}">Request Pickup</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('auth.logout') }}"  class="nav-link active bg-success">Logout</a>
              </li>
            </ul>
          </div>
          
        </nav>

        <div class="reportFrm">
          <form method="post" class="form">
            <h1 class="title">Report Illegal Dump Site</h1>

            <div class="inputContainer">
              <label for="name" class="label">Name</label>
              <input type="text" class="input" name="name" required>
            </div>

            <div class="inputContainer">
              <label for="dump_location" class="label">Dump Location</label>
              <input type="text" class="input" name="pickup_location" required>
            </div>

            <div class="inputContainer">
              <label for="waste_description" class="label">Waste Description</label>
              <input type="text" class="input" name="waste_description" required>
            </div>

            <input type="submit" class="submitBtn" value="Report">
          </form>
      </div>
    </body>
{% endblock %}